.foro_home_container {
  display: flex;
  justify-content: space-evenly;
  height: calc(
    100vh - $navbar-height - $navbar-height-maring-top -
      $navbar-height-maring-button
  );
  background-color: #DAE0E6;
  overflow: hidden;

  .foro_posts_container {
    padding: 20px;
    width: 700px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $standard-font-Outfit-sans-serif;

    

    .foro_posts_creator {
      width: 100%;
      height: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px 25px;
      border-radius: 5px;

      .foro_post_inputsAndImage {
        display: flex;
        align-items: flex-start;

        .foro_posts_inputsSide {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 8px;
          img {
            width: 50px;
            margin-right: 10px;
            border-radius: 100%;
          }
  
          input {
            width: 90%;
            height: 40px;
            border: 1px solid black;
            //border-radius: 40px;
            font-size: 24px;
            text-decoration: none;
            padding-left: 10px;
            &:focus {
              outline: none;
              //border: 0;
            }
          }
        }

        .foro_posts_secondInput {
          display: flex;
          width: 100%;
          flex-direction: column;
          input {
            width: 100%;
            height: 30px;
            border: 1px solid rgb(146, 140, 140);
            font-family: $standard-font-Outfit-sans-serif;
            //border-radius: 15px;
            font-size: 15px;
            text-decoration: none;
            padding-left: 15px;
            margin-bottom: 10px;
            &:focus {
              outline: none;
              //border: 0;
            }
            
          }
  
          
  
          
          .foro_post_textAREA {
            width: 100%;
            height: 50px;
            font-family: $standard-font-Outfit-sans-serif;
            padding: 5px 15px;
            margin-bottom: 15px;
            border: 1px solid rgb(146, 140, 140);
            resize: none;
            &:focus {
              outline: none;
            }
          }
        }
      }

      

 

      .foro_posts_buttonSide {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .foro_posts_AddImagen_Container {
          display: flex;
          align-items: center;

          .foro_post_ImageDiv {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 10px;

            img {
              width: 40px;
              margin-right: 5px;
            }
          }
        }

        button {
          border: none;
          font-size: 15px;
          border-radius: 5px;
          cursor: pointer;
          padding: 8px 20px;
          background-color: $standard-color-blue;
          color: white;
        }
      }
    }
    
    

    &::-webkit-scrollbar {
      width: 1px;
    }
  }

}
