.content-shop {
  height: calc(
    100vh - $navbar-height - $footer-height - $navbar-height-maring-top -
      $navbar-height-maring-button
  );
  width: 100%;
  background-color: $standard-color-white;
  display: flex;
  overflow: hidden;

  body.dark & {
    background: $standard-color-black-ligth;
  }

  @media (max-width: 610px) {
    height: calc(100vh - $navbar-height - $footer-height);
  }

  .shop-contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .breadcrumb {
    display: none;
    width: 100%;
    height: auto;
    padding: 10px;
  }
}
