.content-shop {

  height: 86.59vh;
  width: 99vw;
  background-color: $standard-color-white;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  // background-color: aqua;

  .breadcrumb{
    width: 100%;
    height: auto;
    padding: 10px;
    // background-color: aquamarine;
  }
  .shop-contain{
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: end;
    //background-color: violet;
  }

}