.container-FilterBy {
  background-color: royalblue;
  height: 100px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb:after {
  content: attr(value); /* display the value of the thumb */
  position: absolute; /* position the value */
  top: -20px; /* set the top position */
  left: -15px; /* set the left position */
  font-size: 10px; /* set the font size of the value */
  color: #fff; /* set the color of the value */
}
