.container-quickLook {
  //background-color: green;
  scale: 1;
  width: 23%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3vw;
  //   padding-left: 10vw;

  .icon-visibility {
    height: 100%;
    //background-color: red;
    padding: 0px;
    margin: 0px;
    scale: 1;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: $standard-color-transparent;
  border-radius: 20px;

  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgb(74, 73, 73);
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    padding: 16px;
    width: 50%;
    height: 40%;
    .product-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      height: 90%;
      width: 95%;
      color: $standard-color-blue;
      font-family: $standard-font-Poiret-One;
      //background-color: blue;

      .modal-images {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        //background-color: red;
        gap: 10%;

        .main-image-container {
          width: 60%;
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          //background-color: aliceblue;
          .main-image {
            max-width: 100%;
            max-height: 100%;
            //background-color: aqua;
            border: black;
            border-radius: 10px;
            box-shadow: 2px 2px 5px $standard-color-blue-light;
            //margin-bottom: 10px;
          }
        }
        .thumbnail-container {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          background-color: $standard-color-blue-light;
          border-radius: 16px;

          .container-image {
            height: 25%;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            //background-color: red;
            .thumbnail-image {
              max-width: 100%;
              max-height: 100%;
              margin-right: 10px;
              border-radius: 20px;
              cursor: pointer;
            }
          }
        }
      }

      .product-details-container {
        // background-color: aqua;
        height: 100%;
        width: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .product-name {
          font-size: 30px;
          font-weight: bold;
          color: $standard-color-blue;
        }
        .product-brand {
          font-size: 25px;
          margin-bottom: 8px;
        }

        .product-price {
          font-size: 50px;
          //background-color: aqua;
          position: relative;
          font-family: $standard-font-Barlow;
        }
        .product-rating {
          //background-color: aqua;
          padding: 20px;
          display: flex;
          .rating {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 7.5vw;
            width: 7.5vw;
            padding: 20px;
            //background-color: antiquewhite;
            background-color: $standard-color-blue-light;
            border-radius: 15px;
            .star-rating {
              //background-color: aqua;
              scale: 1.3;
            }
            .value-raing {
              font-size: 4vw;
              font-family: $standard-font-Barlow;
            }
          }

          .details2 {
            //background-color: blueviolet;
            height: 100%;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5vw;
            gap: 20px;
          }

          .add-car-card-beta {
            background-color: $standard-color-blue;
            color: $standard-color-white;
            border-radius: 30px;
            padding: 10px 15px;
            margin: 25px 0px;
            text-align: center;
          }
        }
      }
    }
  }
}
