* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

$main: #7000b1;
$secondary: #01bebe;
$white: #f5f5f5;
$dark: #001e24;

//TODO fonts

$standard-font-Barlow: 'Barlow', sans-serif;

$standard-font-Josefin-Sans: 'Josefin Sans', sans-serif;
$standard-font-Poiret-One: 'Poiret One', cursive; // principal title 1
$standard-font-Quicksand: 'Quicksand', sans-serif; // principal title 2
$standard-font-Satisfy: 'Satisfy', cursive;

$standard-font-Hanken-Grotesk: 'Hanken Grotesk', sans-serif;
$standard-font-IBM-Plex-Sans-Arabic: 'IBM Plex Sans Arabic', sans-serif;
$standard-font-Lexend-Deca-sans-serif: 'Lexend Deca', sans-serif;
$standard-font-Outfit-sans-serif :'Outfit', sans-serif;
$standard-font-Urbanis-sans-serif:'Urbanist', sans-serif;


//TODO color palette ( RGB )
$standard-color-black: rgba(0, 0, 0,1);
$standard-color-black-ligth: rgba(20, 20, 20,0.3);
$standard-color-blue: rgba(20, 33, 66, 1);
$standard-color-blue-solid-grad: rgba(68, 195, 231, 0.13);
$standard-color-blue-light: rgba(137, 171, 202, 0.15);
$standard-color-blue-glass: rgba(20, 33, 66, 0.6);
$standard-color-blue-green: rgba(23, 195, 178, 1);
$standard-color-blue-secundary: rgba(48, 79, 104, 1);
$standard-color-gray: rgba(229, 229, 229, 1);
$standard-color-red: rgba(254, 109, 115, 1);
$standard-color-red-ligth: rgba(254, 109, 115, 0.5);
$standard-color-transparent: rgba(0, 0, 0, 0);
$standard-color-white: rgba(255, 255, 255, 1);
$standard-color-white-background: rgba(254, 249, 239, 1);
$standard-color-yellow: rgba(252, 163, 17, 1);
$standard-color-yellow-ligth: rgba(252, 163, 17, 0.7);

//TODO dimensions (px)
$standard-with-full-hd: 1920px;
$standard-heigth-full-hd: 1080px;
$small-screen: 920px;
$medium-screen: 1520px;


$standard-border-radius: 10px;
$standard-space-between-elements: 19px;


$standard-basic-heith-home: 1080px;

// transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

//===============================

// $main: #7000b1;
// $secondary: #01bebe;
// $white: #f5f5f5;
// $dark: #001e24;

// //TODO color palette ( RGB )
// $standard-color-black: rgba(0, 0, 0);
// $standard-color-blue: rgba(20, 33, 66, 1);
// $standard-color-blue-light: rgba(137, 171, 202, 0.4);
// $standard-color-blue-green: rgba(23, 195, 178, 1);
// $standard-color-blue-secundary: rgba(48, 79, 104, 1);
// $standard-color-gray: rgba(229, 229, 229, 1);
// $standard-color-red: rgba(254, 109, 115, 1);
// $standard-color-white: rgba(255, 255, 255, 1);
// $standard-color-white-background: rgba(254, 249, 239, 1);
// $standard-color-yellow: rgba(252, 163, 17, 1);
// $standard-color-transparent: rgba(0, 0, 0, 0);

// //TODO dimensions (px)
// $standard-with-full-hd: 1920px;
// $standard-heigth-full-hd: 1080px;
// $standard-border-radius: 10px;
// $standard-space-between-elements: 19px;
