.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(
    100vh - $navbar-height - $footer-height - $navbar-height-maring-top -
      $navbar-height-maring-button
  );

  body.dark & {
    background: $standard-color-black-ligth;
  }

  .form_wrapper {
    border-radius: 20px;
    text-align: center;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: 30px;
      gap: 10px;

      body.dark & {
        background: $standard-color-black;
        box-shadow: 12px 12px 24px #151515, -12px -12px 24px #232323;
      }

      h1 {
        color: rgba(20, 33, 66, 1);
        body.dark & {
          color: $standard-color-white;
        }
      }
      .input {
        border: 2.2px solid #eee;
        border-radius: 10px;
        padding: 5px 20px;
      }
      .span2 {
        grid-column: span 2;
      }

      button {
        color: white;
        border-radius: 10px;
        background: rgba(20, 33, 66, 1);
        padding: 0.6rem 1.5rem;
        grid-column: span 2;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 425px) {
  .form_container {
    // width: 100vw;
    margin: auto;

    form {
      .input {
        grid-column: span 2;
      }
    }
  }
}
