.new-contain-FilterPanel {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-family: $standard-font-Poiret-One;
  font-family: $standard-font-Barlow;
  font-size: 1rem;
  height: calc(
    100vh - $navbar-height - $footer-height - $navbar-height-maring-top -
      $navbar-height-maring-button
  );
  width: 60px;
  z-index: 1;
  background-color: $standard-color-blue;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;

  .block-filter {
    display: none;
  }

  hr {
    height: 1px;
    width: 100%;
    background-color: $standard-color-blue-green;
    border: 1px dashed;
    left: 0px;
  }

  @media only screen and (max-width: $medium-screen) {
    gap: 0px;
    font-size: 0.5rem;
  }

  @media (max-width: 768px) {
    border-radius: 10px 10px 10px 10px;
    border-right: 0px solid $standard-color-blue;
    background-color: $standard-color-blue;
    width: 450px;

    height: auto;
    padding: 20px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    .section-filter {
      .block-filter {
        display: flex;
      }
    }
  }
  @media (max-width: 450px) {
    width: 380px;
  }

  @media (max-width: 320px) {
    width: 100%;
  }

  &:hover {
    @media (min-width: 769px) {
      width: 450px;
      .section-filter {
        .block-filter {
          display: flex;
        }
      }
    }
  }

  .section-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &:hover {
      @media (min-width: 769px) {
        background-color: $standard-color-black-ligth;
        transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        .hovr-selector {
          width: 3px;
          height: 80%;
          background-color: $standard-color-blue-green;
          transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
        /////////////
        .img {
          scale: 1.05;
          left: 1%;
          bottom: 0%;
          transition: all 0.3s cubic-bezier(0.1, 0.1, 0, 3);
        }
      }
    }

    .hovr-selector {
      position: relative;
      width: 1px;
      height: 100%;
      background-color: $standard-color-transparent;
      transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    /////////////
    .img {
      border-radius: 4px;
      position: relative;
      background-color: $standard-color-transparent;
      height: 35px;
      width: 35px;
      z-index: 3;
      left: 0%;
      bottom: 0%;
      transition: all 0.3s cubic-bezier(0.1, 0.1, 0, 3);
    }

    .block-filter {
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      padding-top: 15px;
      height: 100%;
      width: 100%;
      gap: 15px;
      display: flex;

      @media (min-width: 769px) {
        display: none;
      }

      .title-filter {
        color: $standard-color-blue-green;
        width: 100%;
        font-weight: 300;
      }
    }
  }
}

.btn-selector-filter {
  width: 90%;
  // height: 70%;
  color: $standard-color-white;
  font-family: $standard-font-Barlow;
  font-weight: 100;
  padding: 5px;
  background-color: $standard-color-blue-glass;
  border: 1px solid $standard-color-white;
  border-radius: 5px;
  cursor: pointer;
}
