// .contain-FilterPanel {
//   width: 300px;
//   height: 50%;
//   border-radius: 0px ;
//   font-size: 15px;
//   background-color: $standard-color-blue;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   top: 120px;
//   bottom: 100px;
//   left: -300px;
//   z-index: 2;
//   transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

//   .content-btn-span {
//     height: 10px;
//     width: 10px;
//     //background-color: red;
//     .btn-span {
//       position: relative;
//       z-index: 2;
//       top:-60px;
//       left: 155px;
//       height: 60px;
//       width: 60px;
//       border: 0px solid $standard-color-blue;
//       border-radius: 0px 20px 20px 0px;
//       font-family: $standard-font-Barlow;
//       font-weight: 900;
//       font-size: 30px;
//       color: $standard-color-white;
//       transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//       background-color: $standard-color-blue;
//       background-repeat: no-repeat;
//     background-position: center center;
//     }

//   }

//   .dropdown {
//     font-family: $standard-font-Barlow;
//     font-weight: 100;
//     color: $standard-color-white;
//     border-radius: 10px;
//     top: 10px;
//     gap: 0px;
//     position: relative;
//     line-height: 15px;
//     left: 0px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 3px solid $standard-color-blue-secundary;
//     background-color: $standard-color-blue;
//     z-index: 1;
//     .dropdown-row {
//       background-color: $standard-color-blue-solid-grad;
//       font-size: 1rem;
//       color: $standard-color-white-background;
//       width: 95%;
//       padding: 15px 10px;

//       &:hover {
//         color: $standard-color-blue;
//         background-color: $standard-color-white-background;
//       }
//       .separator {
//         background-color: $standard-color-blue-secundary;
//         color: $standard-color-transparent;
//         height: 2.5px;
//         border-radius: 50%;
//         width: 95%;
//         position: relative;
//         top: 18px;
//       }
//     }
//   }

//   .filter-filt {
//     margin-top: 60px;
//     width: 89%;
//     min-height: 100px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: -40px;
//     //background-color: $standard-color-blue-green;
//   }
//   .list-filter {
//     margin-top: 0px;
//     width: 89%;
//     min-height: 90%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: start;
//     position: absolute;
//     top: 10%;
//     left: 110%;
//     //background-color: $standard-color-red;
//   }

//   .title-filter {
//     margin-top: 10%;
//     font-family: $standard-font-Hanken-Grotesk;
//     font-weight: 400;
//     font-size: 25px;
//     color: $standard-color-red;
//     position: relative;
//     bottom: 2%;
//     //background-color: aqua;
//   }
//   .title-filter-blue {
//     margin-top: 10%;
//     font-family: $standard-font-Hanken-Grotesk;
//     font-weight: 400;
//     font-size: 25px;
//     color: $standard-color-red;
//     position: relative;
//     bottom: 2%;
//   }
//   .title {
//     //background-color: aqua;
//     padding: 5px;
//     width: 150px;
//     font-family: $standard-font-Barlow;
//     font-family: $standard-font-Hanken-Grotesk;
//     font-size: 20px;
//     font-weight: 300;
//     text-align: start;
//     color: $standard-color-white-background;
//     position: relative;
//     bottom: -1%;
//     right: 20%;
//   }
// }

.contain-FilterPanel {
  height: 75%;
  width: 20%;
  position: absolute;
  z-index: 3;
  padding: 40px 10px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  //flex-direction: row-reverse;
  left: 1%;
  top: 11%;
  //background-color: red;
  background-color: $standard-color-blue;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @media only screen and (max-width: $medium-screen) {
    scale: 0.8;
    left: 0%;
    top: 8%;
    //background-color: red;
  }

  @media only screen and (max-width: $small-screen) {
    //background-color: aqua;
    left: -100%;
    gap: 5px;
  }

  .title-filter {
    font-family: $standard-font-Quicksand;
    color: $standard-color-gray;
    font-size: 1.5vw;
    font-weight: 600;
    @media only screen and (max-width: $small-screen) {
      position: relative;
      bottom: 2%;
      font-size: 6vw;
      left: 35%;
      //color: red;
    }
  }
  .filter-filt {
    height: 90%;
    width: 100%;
    padding: 30px;
    border-radius: 15px 15px 5px 15px;
    background-color: $standard-color-blue-glass;
    //background-color: aqua;

    .title {
      font-family: $standard-font-Quicksand;
      color: $standard-color-blue-green;
      font-weight: 700;
      position: relative;
      left: 3%;
      top: 3px;
      @media only screen and (max-width: $small-screen) {
        top: -2%;
        //color: red;
      }
    }
  }

  .list-filter {
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50vw;
    background-color: $standard-color-blue;
    border-radius: 20px 5px 20px 20px;
    //background-color: red;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media only screen and (max-width: $medium-screen) {
      right: 0vw;
      //background-color: red;
    }

    @media only screen and (max-width: $small-screen) {
      //background-color: red;
    }
  }
}
