$color-purple: #9892a7;
$color-pink: #ec4899;
$color-gray: #9ca3af;
$color-black: #1f2937;
$card-size: 18rem;

* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: $card-size;
  height: 400px;
  perspective: 500px;
  transform-style: preserve-3d;

  @media (max-width: 710px) {
    width: 15rem;
    height: 315px;
    .Carrousel_card-container {
      .HomeCard_ImageContainer {
        img {
          height: 100px;
        }
      }
      .HomeCard_DescriptionContainer {
        font-size: 12px;
      }
      .HomeCard_PriceContainer {
        font-size: 10px;
      }
      .HomeCard_RatingContainer {
        img {
          width: 15px;
        }
      }
      .HomeCard_AddCartButtonContainer {
        .Home_add-car-card-beta {
          height: 30px;
          @media (max-width: 420px) {
            font-size: 10px;
            padding: 0;
          }
        }
      }
    }
  }
}

.Carrousel_card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.cardCarrousel {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: white;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  color: $color-gray;
  text-align: justify;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;

  body.dark & {
    background: $standard-color-black;
  }

  .HomeCard_HeaderContainer {
    //background-color: #EC4899;
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    position: relative;
    bottom: 15px;
    font-size: 20px;
  }

  .HomeCard_ImageContainer {
    display: flex;
    width: 100%;

    img {
      width: 100%;
      height: 150px;
    }
  }

  .HomeCard_NameContainer {
    display: flex;
    width: 100%;

    h1 {
      font-family: $standard-font-Barlow;
      margin-top: 5px;
      color: black;
      font-size: 14px;
      text-decoration: none;
      text-justify: auto;
      body.dark & {
        color: white;
      }
    }
  }

  .HomeCard_DescriptionContainer {
    display: flex;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: black;

    body.dark & {
      color: white;
    }
  }

  .HomeCard_RatingContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;

    img {
      width: 20px;
    }
  }

  .HomeCard_PriceContainer {
    display: flex;
    justify-content: flex-end;
    font-family: 'Urbanist', sans-serif;
    color: black;
    font-size: 14px;

    body.dark & {
      color: white;
    }
  }

  .HomeCard_AddCartButtonContainer {
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Home_add-car-card-beta {
      padding: 5px 25px;
      border-radius: 20px;
      background: $standard-color-blue;
      font-family: $standard-font-Urbanis-sans-serif;
      font-weight: 500;
      color: $standard-color-white;
      transition: background-color 0.3s;
      cursor: pointer;
      width: 90%;
      height: 40px;
      border: 0;

      &:hover {
        background: $standard-color-blue-glass;
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.7em;
    color: $color-black;
  }

  p,
  h2 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
  }
}

.nav {
  color: $standard-color-blue;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    transform: translateX(-100%) translatey(-50%);
  }

  &.right {
    right: 0;
    transform: translateX(100%) translatey(-50%);
  }
}
