.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.dash_infouser_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: white;
    margin-top: 20px;
    height: 100px;
    box-shadow: 1px 1px 1px 1px rgba(161, 159, 159, 0.3);
    border-radius: $standard-border-radius;
    cursor: pointer;

    @media (max-width:1100px) {
        width: 80%;
    }

    @media (max-width:850px) {
        width: 95%;
    }

    

    .dash_infouser_title {
        display: flex;
        justify-content: center;
        align-items: center;


        .dash_infouser_imageMenu {
            width: 30px;
            position: relative;
            bottom: 7px;
            margin-right: 10px;
        }
        h2 {
            margin: 5px;
        }
    }

        p {
            margin: 5px;
        }
}

.dash_profileContainer {
    display: flex;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: $standard-border-radius;
    height: 150px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgba(161, 159, 159, 0.3);

    @media (max-width:1100px) {
        width: 80%;
    }

    @media (max-width:850px) {
        width: 95%;
    }

    @media (max-width:700px) {
        flex-direction: column;
        height: 220px;
    }

    .dash_profile_ImgSide {
        display: flex;
        position: absolute;
        left: 0;
        top: 10px;
        justify-content: center;
        width: 20%;

        @media (max-width:700px) {
            position: relative;
            top: 0;
        }
        
        img {
            border-radius: 100%;
            width: 120px;
        }
    }

    .dash_profile_InfoSide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

        h2 {
            margin: 0;
        }
    }
}

.dash_purchaseDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: white;
    margin-top: 20px;
    border-radius: $standard-border-radius;
    box-shadow: 1px 1px 1px 1px rgba(161, 159, 159, 0.3);
    padding-bottom: 10px;
    margin-bottom: 20px;

    @media (max-width:1100px) {
        width: 80%;
    }

    @media (max-width:850px) {
        width: 95%;
    }



    .dash_purchaseTitleContainer {

        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 80px;

        img {
            position: relative;
            bottom: 5px;
            margin-right: 10px;
            width: 30px;
        }
    }



    .dash_Allpurchase_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

        .dash_onePurchase {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid rgb(187, 184, 184);
            width: 90%;
           
            
    
            .dash_onePurchase_imageSide {
                display: flex;
                justify-content: center;
               
                width: 20%;
                margin: 10px;

                .imagePurchase {
                    width: 80px;
                }
                
            }

            .dash_onePurchase_infoSide {
               
                width: 80%;
                
                p {
                     margin: 2px;
                     font-size: 18px;
                }
                h3 {
                    margin: 2px;
                    font-size: 18px;
                }
            }
        }
    }
}