.footer_container {
  background: linear-gradient(
    to right,
    rgba(20, 33, 66, 1),
    rgba(0, 0, 0)
  ) !important;
  p {
    display: flex;
    text-align: end;
    color: rgb(255, 255, 255);
  }
}

.MuiBox-root .css-i9gxme {
}

.footer_text {
  display: flex;
  justify-content: flex-end;
}

// .MuiBox-root .MuiPaper-root .MuiToolbar-root {
// height: $footer-height;
// }

.MuiToolbar-root,
  .MuiToolbar-gutters,
  .MuiToolbar-regular,
  .footer_text,
  .css-hyum1k-MuiToolbar-root {
  height: $footer-height;
}
