.Nav_topLanding {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $standard-font-Poiret-One;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 12px;
  
    
  
    @media (max-width: 900px) {
      justify-content: center;
      padding-top: 10px;
    }

    @media (max-width: 610px) {
      padding: 0;
      margin: 0;
      border: none;
    }

    .Nav_container_logo {
      width: 50%;
      cursor: pointer;
      @media (max-width: 900px) {
        display: none;
      }

      .nav_toplogo {
        width: 200px;
      }
    }
  //}

  .Nav_container_navbar {
    width: auto;
    @media (max-width: 900px) {
      width: 100%;
    }

    @media (max-width: 700px) {
      width: 95%;
    }

    @media (max-width: 610px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.navbar_container {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $standard-color-blue;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  width: auto;
  margin-right: 10px;
  z-index: 5;

  @media (max-width: 900px) {
    justify-content: space-between;
  }

  @media (max-width: 610px) {
    margin-right: 0;
    border-radius: 0;
  }

  .Nav_responsive_LogoMenu {
    display: none;
    cursor: pointer;
    @media (max-width: 610px) {
      display: block;
    }
  }

  .Nav_responsive_LogoSmartnet {
    display: none;
    width: 150px;

    @media (max-width: 610px) {
      display: block;
    }
  }

  .nav_middle_button {
    border-right: 1px solid $white;
    @media (max-width:900px) {
      border: none
    }
  }

  .link-style {
    margin: 0;
    @media (max-width: 610px) {
      display: none;
    }
  }

  p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
      color: $standard-color-blue-green;
    }
  }
  .logo {
    margin-left: 5px;
    width: 40px;
    height: 35px;
    cursor: pointer;
  }

  .nav_modalTriangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid $standard-color-blue;
    position: absolute;
    right: 20px;
    bottom: -35px;
    align-items: center;
    @media (max-width: 610px) {
      right: 20px;
    }
  }

  .nav_modalProfilewindows {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 80px;
    width: 140px;
    height: 70px;
    z-index: 2;
    background-color: $standard-color-blue;
    border-radius: 10px;
    align-items: center;
    padding: 9px 20px;
    
    
    .nav_middle_button {
      border-right: 1px solid $standard-color-blue-green;
    }
    
    .nav_modalWindow_Link {
      margin: 0;
    }

    .link-style {
      @media (max-width: 610px) {
        right: 5px;
      }

      p {
        margin: 0;
        //padding-left: 20px;
        //padding-right: 20px;

        &:hover {
          color: $standard-color-blue-green;
        }
      }
      .logo {
        margin-left: 5px;
        width: 40px;
        height: 35px;
        cursor: pointer;
      }

      .nav_modalTriangle {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 30px solid $standard-color-blue;
        position: absolute;
        right: 40px;
        bottom: -35px;
        align-items: center;
      }

      .nav_modalProfilewindows {
        position: absolute;
        right: 30px;
        top: 80px;
        width: 140px;
        height: 70px;
        z-index: 2;
        background-color: $standard-color-blue;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .nav_modalWindow_Link {
          margin: 0;
          align-items: center;
        }

        p {
          margin: 5px;
          padding: 0;
          align-items: center;
        }
      }
    }
  }
}

.navbar_container a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.2em;
}

.navbar_container img {
  width: 50px;
  //margin-right: 20px;
}

.profile-div {
  display: flex;
  color: white;
}

.profile-div img {
  border-radius: 100%;
  cursor: pointer;
}

.nav_responsive_MENU {
  transition: all .5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $standard-color-blue;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0%;
  display: none;

  @media (max-width: 610px) {
    display: flex;
  }

  a {
    text-decoration: none;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 30px;
    cursor: pointer;

    &:hover {
      color: $standard-color-blue-green;
    }
  }
}

.nav_responsive_MENUClosed {
  transition: all .5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $standard-color-blue;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 100%;
  display: none;

  @media (max-width: 610px) {
    display: flex;
  }

  a {
    text-decoration: none;
  }

  p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 30px;
    cursor: pointer;

    &:hover {
      color: $standard-color-blue-green;
    }
  }
}