$pagination-btn-unset: url('../../../assets/images/buttons/paginationBtnUnset.png');

.container-pagination {
  height: auto;
  width: 100%;
  background-size: contain;
}

.pagination-container {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .pagination-button-next {
    width: 30px;
    height: 40px;
    border: 1px solid $standard-color-transparent;
    background-color: $standard-color-transparent;
    scale: 1;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $standard-color-transparent;
      scale: 1.1;
    }
  }

  .container-buttons-pagination {
    padding: 5px 12px;
    display: flex;
    gap: 15px;
    background-color: $standard-color-gray;
    border-radius: 20px;
  }

  .pagination-button {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 5;
    background-color: $standard-color-blue-secundary;
    color: $standard-color-blue-secundary;
    border: none;
    font-size: 0.9rem;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: $standard-color-white;
      scale: 1.1;
      background-color: $standard-color-blue-green;
    }
  }
}

.pagination-button:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
}

.pagination-button.active {
  transform: scale(1.3);
  background-color: $standard-color-blue-green;
  color: aliceblue;
  font-weight: 300;
  font-size: 0.8rem;
  background-image: url($pagination-btn-unset);
}
