.news_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  min-height: 100vh;

  body.dark & {
    background: $standard-color-black-ligth;
  }

  .news_firstLine {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 1px 1px rgba(161, 159, 159, 0.2);
    gap: 40px;

    @media (max-width: 400px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }

    .news_cardRow {
      display: flex;
      height: 200px;
      align-items: center;
      justify-content: center;

      &:hover {
        .news_card {
          .news_content {
            transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            height: 100%;
            gap: 10px;
          }
        }
      }

      .news_card {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 100%;
          max-width: 100%;
          object-fit: contain;
        }

        .news_content {
          position: absolute;
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          bottom: 0;
          z-index: 2;
          background-color: rgba(20, 16, 16, 0.8);
          transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

          &:hover {
            h1 {
              color: $standard-color-blue-green;
            }
          }

          h1 {
            margin-left: 10px;
            font-size: large;
            color: white;
            font-family: "Roboto", sans-serif;
          }
          p {
            font-size: mediumS;
            margin-left: 10px;
            color: white;
            font-family: "Roboto", sans-serif;
          }
        }
      }

      .news_secondCard {
        width: 35%;
        margin: 5px;
        background-color: rgb(34, 110, 110);
        position: relative;
        align-items: center;
        cursor: pointer;
        
        img {
          width: 100%;
          height: auto;
        }

        &:hover {
          .news_firstLine_Content h1 {
            color: $standard-color-blue-green;
          }
        }

        .news_firstLine_Content {
          position: absolute;
          width: 100%;
          height: 90px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          bottom: 0;
          z-index: 2;
          background-color: rgba(20, 16, 16, 0.603);

          h1 {
            margin-left: 10px;
            color: white;
            font-size: 18px;
            font-family: "Roboto", sans-serif;
          }
          p {
            margin-left: 10px;
            color: white;
            font-family: "Roboto", sans-serif;
          }
        }
      }
    }
  }
}

.news_paginated {
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}

.news_paginated p {
  margin: 10px;
  color: $standard-color-blue;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  align-items: center;

  body.dark & {
    color: $standard-color-white;
  }
}

.news_button_paginated {
  display: flex;
  background-color: $standard-color-blue;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: $standard-color-white;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $standard-color-blue-green;
    border: 1px solid $standard-color-blue;
  }
}
