.container-itemFilter {
  height: 30px;
  // padding: 15px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: $standard-color-blue-solid-grad;
  display: flex;
  gap: 10px;
  border: 2px solid $standard-color-blue-light;
  .name-filter {
    font-family: $standard-font-Barlow;
    color: $standard-color-white-background;
    font-weight: 400;
  }
  .close-item {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-family: $standard-font-Barlow;
    font-weight: 900;
    background-color: $standard-color-blue-light;
    color: $standard-color-blue;
    transition: color 0.5s background-color 0.5s;
    &:hover {
      color: $standard-color-white;
      background-color: $standard-color-blue-green;
    }
  }
}
