.MuiDrawer-root, .MuiDrawer-docked, .RaSidebar-docked,  .css-rraw3v-MuiDrawer-docked-RaSidebar-root {
  width: 50px !important;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: calc(100vw - 50px);

  @media (max-width: 600px) {
    max-width: 100vw;
  }
  
  #main-content{
    max-width: 100vw;
  }

  .dashboardAdmin_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 96%;
    padding: 30px;
    // margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 3px 2px 1px lightgray;


    .dashboardAdmin_card {
      // border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      height: 140px;
      width: 250px;
      border-radius: 10px;
      box-shadow: 3px 2px 1px rgb(175, 175, 175);

      img{
        height: 45px;
        width: 45px;
        margin-top: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      

      .dashboardAdmin_icon {
        height: 70px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid blue;
      }

      h2 {
        // border: 1px solid green;
        font-size: 24px;
        // margin-top: 20px;
        // color: rgb(0, 0, 0);
      }

      p {
        // border: 1px solid orange;
        font-size: 24px;
        font-weight: bold;
        color: #00c91b;
      }
    }
  }

  .main_graphics{
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 10px;
    // grid-template-rows: 1fr 1fr;
    // max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    
    .PieChart, .ComposedChart, .AreaChart{
      // width: 100%;
      height: 100vh;
      padding: 9px;
      border: 1px solid lightgray;
      border-radius: 10px;
      box-shadow: 3px 2px 1px lightgray;
      margin-top: 9px;
      margin-bottom: 9px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
  }
  
}
