#main-content {
  form {

    .css-1a69w1n-MuiStack-root {
      display: grid;
      flex-direction: column;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: 30px;
    }

    button {
      margin: auto;
    }
  }
}
