.Foro_Profile_ALLContainer {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - $navbar-height - $navbar-height-maring-top - $navbar-height-maring-button);
    background-color: #DAE0E6;
    overflow: hidden;

    .FORO_PROFILE {
        width: 100%;
        display: flex;
        //flex-direction: column-reverse;
        justify-content: center;

        .Foro_Profile_PostSide {
            padding: 20px;
            width: 800px;
            overflow: auto;
            //background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $standard-font-Outfit-sans-serif;
            overflow-x: hidden;
            //background-color: green;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: $standard-background;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $standard-color-blue;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-button {
                //background-color: red;
                width: 2px;
                height: 100%;
            }

              
                
                .Foro_Profile_Container {
                    width: 100%;
                    height: 350px;
                    background-color: white;
                    //margin-top: 20px;
                    border-radius: 5px;
    
                    .Foro_Profile_Banner_PicturesSide {
                        width: 100%;
                        height: 200px;
                        position: relative;

                        .Foro_Baner_Input {
                            display: none;
                        }

                        .editProfilePicButton {
                            background-color: white;
                            position: absolute;
                            z-index: 3;
                            width: 28px;
                            height: 28px;
                            left: 150px;
                            bottom: 20px;
                            border-radius: 100%;
                            padding: 3px;
                            opacity: .6;
                            cursor: pointer;
                            transition: all .2s ease-in;

                            &:hover {
                                opacity: .8;
                            }
                        }

                        .editButton {
                            background-color: white;
                            position: absolute;
                            z-index: 3;
                            width: 28px;
                            height: 28px;
                            top: 10px;
                            right: 10px;
                            border-radius: 100%;
                            padding: 3px;
                            opacity: .6;
                            cursor: pointer;
                            transition: all .2s ease-in;

                            &:hover {
                                opacity: .8;
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            z-index: 2;
                        }
                        .profilePic {
                            border-radius: 100%;
                            width: 150px;
                            height: 150px;
                            position: absolute;
                            top: 60%;
                            left: 20px;
                            cursor: pointer;
                            background-color: $standard-color-blue;
                            z-index: 2;
                        }
                        .profilePicDefault {
                            border-radius: 100%;
                            width: 150px;
                            height: 150px;
                            padding: 30px;
                            position: absolute;
                            top: 60%;
                            left: 20px;
                            cursor: pointer;
                            background-color: $standard-color-blue;
                            z-index: 2;
                        }
                    }
    
                    .Foro_Profile_NameSide {
                        width: 100%;
                        display: flex;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        //background-color: red;
                        
                        .Foro_Profile_NameDefault {
                            margin-left: 200px;
                            font-family: $standard-font-Outfit-sans-serif;
                            color: rgb(37, 36, 36);
                            font-size: 25px;
                            padding: 15px 5px;
                            overflow: hidden;
                        }
                        h1 {
                            margin-left: 200px;
                            font-family: $standard-font-Outfit-sans-serif;
                            color: rgb(37, 36, 36);
                            font-size: 25px;
                            white-space: nowrap;
                            //background-color: green;
                            max-width: 80%;
                            overflow: hidden;
                        }
                        p {
                            padding-left: 200px;
                            font-family: $standard-font-Outfit-sans-serif;
                            color: rgb(37, 36, 36);
                            //background-color: $standard-color-blue;
                        }
                    }
    
                    .Foro_Profile_ContentSide {
                        display: flex;
                        //border: 1px solid red;
                        margin: 20px;
                        justify-content: space-around;
    
                        .Foro_Profile_StatContainer {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            cursor: pointer;
    
                            img {
                                width: 36px;
                            }
    
                            p {
                                font-family: $standard-font-Outfit-sans-serif;
                                color: rgb(37, 36, 36);
                            }
                            &:hover img {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            
        }

        
    }
}


