.container-ItemFilterList {
  padding-right: 30px;
  padding-top: 30px;
  min-height: 45%;
  width: 95%;
  max-height: 400px;
  height: 400px;
  background-color: $standard-color-blue-glass;
  //background-color: $standard-color-blue-green;

  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}
