.container-render-card-v-beta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: $standard-color-blue-light;
  overflow: hidden;
  overflow-y: auto;

  // ::-webkit-scrollbar {
  //   width: 3px;
  // }
  // ::-webkit-scrollbar-thumb {
  //   background-color: rgb(20, 33, 66);
  // }

  body.dark & {
    background: $standard-color-black-ligth;
  }
  .container-card-beta {
    padding: 20px;
    // min-height: 100%;
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 20px;
    overflow: hidden;
    overflow-y: auto;

    @media (max-width: 1280px) {
      grid-template-columns: repeat(auto-fill, 360px);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, 260px);
    }

    @media (max-width: 610px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }

    .product-card-beta {
      width: 100%;
      height: max-content;
      background-color: $standard-color-white;
      box-shadow: 5px 5px 10px 1px $standard-color-blue-light; //!
      border-radius: 8px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      body.dark & {
        background: $standard-color-black;
      }

      // @media (max-width: 450px) {
      //   display: flex;
      //   flex-direction: column;
      //   width: 100%;
      // }

      .header-card-beta {
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .container-favorite {
          height: 100%;
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            scale: 1.1;
          }

          img {
            height: 100%;
          }
        }
        .quick-modal {
          button {
            padding: 0;
            &:hover {
              scale: 1.1;
            }
          }
        }
      }

      .content-image-card-beta {
        width: auto;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        .link-image-card {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          // @media only screen and (max-width: $medium-screen) {
          //   justify-content: center;
          //   width: 100%;
          // }

          // @media only screen and (max-width: $small-screen) {
          //   justify-content: center;
          //   width: 100%;
          // }

          .image-card {
            max-width: 100%;
            max-height: 95%;
            border-radius: 3px;

            // @media only screen and (max-width: $medium-screen) {
            //   max-width: 100%;
            // }
            // @media only screen and (max-width: $small-screen) {
            //   max-width: 100%;
            //   max-height: 100%;
            // }
          }
        }
      }

      .content-title-description-card-beta {
        width: 100%;

        .product-name-card-beta {
          width: 100%;
          display: flex;
          align-items: center;
          font-family: $standard-font-Outfit-sans-serif;
          font-weight: 600;
          color: $standard-color-blue;
          white-space: nowrap;
          overflow: hidden;

          body.dark & {
            color: white;
          }
        }

        .product-description-card-beta {
          display: none;
          font-family: $standard-font-IBM-Plex-Sans-Arabic;
          font-weight: 400;
          height: 100%;
          width: 100%;
        }
      }

      .content-value-rating-card-beta {
        width: 100%;
        // height: 30px;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;

        .content-rating-card-beta {
          height: 100%;
          display: flex;
          align-items: center;

          img {
            height: 100%;
          }
        }

        .content-value-card-beta {
          height: 100%;
          display: flex;
          align-items: center;

          .price2 {
            color: $standard-color-black-ligth;
            font-family: $standard-font-Lexend-Deca-sans-serif;
            font-weight: 600;

            body.dark & {
              color: white;
            }
          }
        }
      }

      .content-add-car-card-beta {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-car-card-beta {
          height: 90%;
          width: 95%;
          border-radius: 20px;
          background-color: $standard-color-blue;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: $standard-color-blue-glass;
          }

          p {
            height: 100%;
            width: 100%;
            font-family: $standard-font-Urbanis-sans-serif;
            color: $standard-color-white;
            font-weight: 500;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 10px;
          }
        }

        .add-car-card-betaOut {
          height: 90%;
          width: 95%;
          border-radius: 20px;
          background-color: $standard-color-blue;
          transition: background-color 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: not-allowed;

          &:hover {
            background-color: $standard-color-blue-glass;
          }

          p {
            height: 100%;
            width: 100%;
            font-family: $standard-font-Urbanis-sans-serif;
            color: $standard-color-white;
            font-weight: 500;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 10px;
          }
        }
      }
    }
  }
}

.quickLook_eye {
  width: 20px;
}
